.card{
    background-color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 0.2rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.card:hover{
    cursor: grab;
    background-color: #dfe3e6;
}

.draggable:active{
    cursor : -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.dragged-card{
    cursor : -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}